.buttonsWrapper {
  text-align: center;
}

.buttonsWrapper__button {

}



.linkButton {
  display: inline-block;
  width: 180px;
  height: 50px;
  border-radius: 100px;
  font: 12px/52px $circe-bold-extra;
  color: $white;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  transition: color $transition-normal, border-color $transition-normal, background-color $transition-normal;
}

.linkButton--green {
  background-color: $green;

  &:hover {
    background-color: #99D256;
  }

  &:disabled {
    background-color: #D0D7DD;
    cursor: default;
  }
}

.linkButton--greenTransparent {
  color: $black;
  border: 2px solid $green;
  line-height: 50px;

  &:hover {
    border-color: #99D256;
  }
}

.linkButton--white {
  line-height: 50px;
  border: 2px solid $white;
}

.linkButton--red {
  background-color: #D96A6A;
}

.linkButton--right {
  float: right;
}

.linkButton--blueTransparent {
  color: $black;
  border: 2px solid #AFC8D7;
  line-height: 50px;
}



.linkButtonSmall {
  display: inline-block;
  width: 128px;
  height: 38px;
  border: 1px solid #D0D0D0;
  border-radius: 100px;
  font-size: 13px;
  line-height: 38px;
  color: $black;
  text-align: center;
}


@media (max-width: 768px) {
  .linkButton {
    width: 100%;
  }
}
