.cols {
    @include clearfix();
}

.col_2 {
    width: 50%;
    float: left;
}

.col_3 {
    padding: 0 20px;
    width: 33.33%;
    float: left;
}

.col_4 {
    padding-right: 20px;
    width: 25%;
    float: left;
}

.col_4_2 {
    padding-right: 20px;
    width: 50%;
    float: left;
}
