@font-face {
  font-family: 'Circe-Bold';
  src: asset-url('Circe-Bold.eot?#iefix') format('embedded-opentype'),
       asset-url('Circe-Bold.otf') format('opentype'),
       asset-url('Circe-Bold.woff') format('woff'),
       asset-url('Circe-Bold.ttf') format('truetype'),
       asset-url('Circe-Bold.svg#Circe-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Circe-ExtraBold';
  src: asset-url('Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
       asset-url('Circe-ExtraBold.otf') format('opentype'),
       asset-url('Circe-ExtraBold.woff') format('woff'),
       asset-url('Circe-ExtraBold.ttf') format('truetype'),
       asset-url('Circe-ExtraBold.svg#Circe-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Circe-ExtraLight';
  src: asset-url('Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
       asset-url('Circe-ExtraLight.otf') format('opentype'),
       asset-url('Circe-ExtraLight.woff') format('woff'),
       asset-url('Circe-ExtraLight.ttf') format('truetype'),
       asset-url('Circe-ExtraLight.svg#Circe-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Light';
  src: asset-url('Circe-Light.eot?#iefix') format('embedded-opentype'),
       asset-url('Circe-Light.otf') format('opentype'),
       asset-url('Circe-Light.woff') format('woff'),
       asset-url('Circe-Light.ttf') format('truetype'),
       asset-url('Circe-Light.svg#Circe-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Regular';
  src: asset-url('Circe-Regular.eot?#iefix') format('embedded-opentype'),
       asset-url('Circe-Regular.otf') format('opentype'),
       asset-url('Circe-Regular.woff') format('woff'),
       asset-url('Circe-Regular.ttf') format('truetype'),
       asset-url('Circe-Regular.svg#Circe-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
