.formWrapper {
  width: 630px;
  margin: 53px auto 75px;
  padding: 12px 0 0;
  border-radius: 10px;
  background-color: $white;
  overflow: hidden;
}

.form {

}

.formContent__sep {
  display: block;
  margin: 30px -70px 20px;
  height: 1px;
  background-color: #EBEBEB;

  .form--response & {
    margin: 37px -36px 20px;
  }
}

.formSteps {
  position: relative;
  top: -12px;
}

.formSteps__step {
  height: 11px;
  background-color: transparent;
  transition: background-color $transition-normal;

  &.is-active {
    background-color: #80BA27;
  }
}



// form content
.formContent {
  padding: 0 70px;
  text-align: left;

  .form--response & {
    padding: 0 36px;
  }
}

.formContent--result {
  padding-bottom: 50px;
  text-align: center;

  .formContentTitle {
    max-width: 240px;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.formContentTitle {
  position: relative;
  margin: 32px 0 22px;
  padding-right: 160px;
  font: 20px/28px $circe-light;
  color: $gray;
}

.formContentTitle__saved {
  position: absolute;
  top: 1px;
  right: 0;
  display: inline-block;
  padding: 3px 0 3px 30px;
  font: 14px/22px $circe-regular;
  color: #000000;
  white-space: nowrap;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    @include icon(checkbox_white, 11px, 9px);
    background-color: #80BA27;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

.formContentTitle__delete {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 0;
  font: 12px/16px $circe-bold-extra;
  color: #D96A6A;
  text-transform: uppercase;
}

.formContentTitle__error {
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 0;
  font: 14px/16px $circe-regular;
  color: #D96A6A;
}



.formContent__info {
  margin-bottom: 28px;
  max-width: 340px;
  font-size: 14px;
  line-height: 21px;
}

.formContent__iconWrapperResult {
  margin: 55px 0 58px;
}



// form content with labels on top
.formContent--labelsTop {

  &.formContent {
    padding: 0 20px 0 40px;
  }

  .formContent__sep {
    margin: 35px -20px 22px -40px;
  }

  .formContentTitle {
    margin: 32px 0 45px;
  }

  .formBlock {
    margin-top: 40px;
    padding-top: 20px;
  }



  .fieldWrapper {
    margin: 0;
  }

  .fieldWrapper--checkbox {
    margin: -37px 0 27px;
    height: auto;

    .fieldWrapper__label {
      top: 0;
      padding-right: 60px;
    }
  }

  .fieldWrapper__label {
    top: -32px;
    left: 0;
  }

  .fieldWrapper__info {
    position: absolute;
    bottom: 0;
    right: 20px;

    & + .fieldWrapper__input {
      padding-right: 50px;
    }
  }


  .formBlock--links {
    margin-top: 35px;
    padding-top: 0;
  }

  .formBlock__linkButton {
    width: 165px;
    margin: 0 0 20px;

    &:nth-child(2) {
      margin: 0 0 0 15px;
    }

    &.linkButton--right {
      margin-right: 20px;
    }
  }
}

.formBlock__col {
  padding-right: 20px;
}

.formContentTitleCheckbox {
  margin: 35px 0 13px;
  font: 14px/22px $circe-regular;
  color: $gray;
}



// form blocks
.formBlock {
  position: relative;
  margin: 0 0 10px;
}

.formBlock--links {
  white-space: nowrap;
  font-size: 0;
}

.formBlock--cols {
  display: flex;
  flex-wrap: wrap;
}

.formBlockCol {
  flex-basis: 55%;

  &:nth-child(2n) {
    flex-basis: 45%;
    padding-left: 20px;
    padding-right: 0;

    .fieldWrapper {
      margin-left: 100px;
    }

    .fieldWrapper__label {
      left: -70px
    }
  }
}

.formBlock--amount {
  margin-right: 180px;

  .fieldWrapper {
    &:after {
      content: 'кг';
      display: inline-block;
      position: absolute;
      right: 20px;
      font: 14px/20px $circe-regular;
      color: $gray;
    }
  }

  .fieldWrapper__info {
    position: absolute;
    top: 5px;
    left: 100%;
    margin: 0 0 0 20px;
  }

  .fieldWrapper__input {
    padding-right: 50px;
  }
}

.formBlock__title {
  margin-bottom: 15px;
  font: 14px/19px $circe-regular;
  color: $gray;
  text-align: center;
}

.formBlock__rating {
  padding-bottom: 10px;
  text-align: center;

  .rating__star {
    margin: 0 1px;
    @include icon(star_gray, 37px, 36px);

    &.is-active {
      @include icon(star_yellow, 37px, 36px);
    }
  }
}



.fieldWrapper {
  display: block;
  position: relative;
  margin-left: 150px;
  height: 50px;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    right: -35px;
    top: 50%;
    margin-top: -10px;
    border-radius: 50%;
  }

  &.is-error {
    &:after {
      @include icon(form_error, 20px, 20px);
    }

    .fieldWrapper__input {
      background-color: #F8F1F1;
    }
  }

  &.is-ok {
    &:after {
      @include icon(form_ok, 20px, 20px);
    }
  }
}

.fieldWrapper--checkbox {
  .fieldWrapper__input {
    display: none;

    &:checked + .fieldWrapper__label:before {
      @include icon(checkbox_white, 13px, 10px);
      background-color: #80BA27;
      width: 24px;
      height: 24px;
    }
  }

  .fieldWrapper__label {
    position: relative;
    display: inline-block;
    left: 40px;
    color: $black;

    &:before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      position: absolute;
      left: -40px;
      top: -2px;
      background-color: $input-bg;
      border-radius: 5px;
      transition: background-color $transition-normal, background-image $transition-normal;
    }
  }
}

.fieldWrapper--fullHeight {
  height: auto;
}

.fieldWrapper--image {
  margin-bottom: 39px;
  height: auto;

  .fieldWrapper__input {
    display: none;
  }

  .fieldWrapper__label {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 180px;
    height: 50px;
    border-radius: 100px;
    font: 12px/50px $circe-bold-extra;
    color: $black;
    background-color: transparent;
    border: 2px solid $green;
    cursor: pointer;
    text-align: center;
    transition: color $transition-normal, border-color $transition-normal, background-color $transition-normal;

    &:hover {
      border-color: #99D256;
    }
  }
}

.fieldWrapper--companyName {
  margin-bottom: 33px;
  margin-left: 0;
  height: 40px;

  .fieldWrapper__input {
    padding: 0;
    background-color: transparent;
    border: 0;
    font: 32px/38px $circe-light;
  }
}

.fieldWrapper--slider {
  padding-top: 20px;
}



// date
.fieldWrapper--date {
  &:before {
    content: 'До';
    display: inline-block;
    position: absolute;
    left: 15px;
    font: 14px/50px $circe-regular;
    color: #ACACAC;
  }

  .fieldWrapper__input {
    padding-left: 42px;
    padding-right: 30px;
  }
}

.fieldWrapper__calendarIcon {
  position: absolute;
  right: 18px;
  top: 16px;
  cursor: pointer;
}



// add photo
.formContentTitle--addImage {
  &.formContentTitle {
    margin-bottom: 5px;
  }
}

.formBlock--addImage {

  &.formBlock {
    margin-top: 0;
  }

}

.fieldWrapper--photo {
  height: 120px;
  background: #D0D7DD;
  border-radius: 5px;
  overflow: hidden;

  &:before {
    content: '';
    @include icon(photocamera, 30px, 27px);
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    margin-left: -14px;
  }

  .fieldWrapper__input {
    display: none;
  }

  &.with-image {
    .fieldWrapper__imgBg,
    .icon {
      display: block;
    }
  }

  .icon {
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.50);
    cursor: pointer;
    display: none;
  }
}

.fieldWrapper__imgBg {
  position: relative;
  z-index: 2;
  width: 100%;
  display: none;
}



// userpick
.fieldWrapperAvatar {
  display: inline-block;
  width: 105px;
  height: 105px;
  position: absolute;
  top: 0;
  left: -150px;
  line-height: 105px;
  text-align: center;
  overflow: hidden;
}

.fieldWrapperAvatar__img {
  width: 100%;
}

.fieldWrapper__info {
  margin-bottom: 16px;
  font: 14px/20px $circe-regular;
  color: #888888;
}

.fieldWrapper__label {
  position: absolute;
  top: 14px;
  left: -150px;
  font: 14px/22px $circe-regular;
  color: $gray;

  &.fieldWrapper__label--conditions {
    color: $gray;

    a {
      color: $gray;
      border-bottom: 1px solid $gray;

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}



.fieldWrapper__input {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  font: 14px/50px $circe-regular;
  color: $black;
  background-color: $input-bg;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color $transition-normal, border-color $transition-normal;

  &:focus {
    border-color: #E4E4E4;
  }

  &[type="password"] {
    font-size: 48px;
    letter-spacing: 3px;
  }
}

.fieldWrapperDistance {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font: 14px/19px $circe-bold-extra;
  white-space: nowrap;

  .formContent--labelsTop & {
    top: -30px;
  }
}



.formBlock__reminderLink {
  position: absolute;
  top: 15px;
  right: 0;
  font: 14px/22px $circe-regular;
  color: #80BA27;
  cursor: pointer;
}



.formBlock__linkButton {
  width: 165px;
  margin: 30px 0 0 150px;

  &:nth-child(2) {
    margin: 30px 0 0 10px;
  }
}



// button submit
.formButtonWrapper {
  margin: 48px 0 0;
}

.formButtonWrapper__submit {
  display: block;
  width: 100%;
  height: 80px;
  font: 12px/82px $circe-bold-extra;
  text-transform: uppercase;
  color: $white;
  background-color: #80BA27;

  &:hover {
    background-color: #99D256;
  }
}



// radio button
.fieldWrapperRadio {
  position: relative;
  display: block;
  margin-bottom: 18px;
  padding-left: 40px;
  font: 14px/22px $circe-regular;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  & + .fieldWrapper__label {
    top: -3px;
  }
}

.fieldWrapperRadio__input {
  display: none;

  &:checked + .fieldWrapperRadio__button:before {
    opacity: 1;
  }
}

.fieldWrapperRadio__button {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -2px;
  background-color: #F6F6F6;
  border: 1px solid #F3F3F3;
  border-radius: 50%;

  &:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: $green;
    border-radius: 50%;
    opacity: 0;
    transition: opacity $transition-normal;
  }
}



// labels
.formBlock--labels {
  font-size: 0;
  text-align: center;
}

.formBlockLabel {
  display: inline-block;
}

.formBlockLabel__input {
  display: none;

  &:checked + .formBlockLabel__info {
    color: $white;
    background-color: $green;
    border-color: $green;
  }
}

.formBlockLabel__info {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 7px 15px 5px;
  font: 10px/16px $circe-bold;
  color: $gray;
  border: 1px solid #E6E6E6;
  border-radius: 7px;
  background-color: transparent;
  cursor: pointer;
  transition: color $transition-normal, background-color $transition-normal, border-color $transition-normal;
}



.formBlock__textarea {
  width: 100%;
  max-width: 100%;
  height: 170px;
  max-height: 250px;
  padding: 16px 15px 0;
  font: 14px/19px $circe-regular;
  color: $black;
  background: $input-bg;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color $transition-normal, border-color $transition-normal;

  &:focus {
    border-color: #E4E4E4;
  }
}



// response form
.form--response {

  .formBlock__linkButton {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .fieldWrapper--fullHeight {
    margin-top: 40px;
  }

  .formContentTitleCheckbox {
    float: left;
    width: 100px;
  }

  .formBlock--cols {
    margin: 0 0 46px 150px;

    .fieldWrapper {
      margin-left: 0;
      height: auto;
    }
  }

  .formBlock__col {
    margin-bottom: 25px;
  }
}

.formBlock__errorInfo {
  position: relative;
  display: inline-block;
  margin-left: 50px;
  padding: 3px 0 3px 36px;
  font: 14px/19px $circe-regular;
  color: $gray;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    @include icon(attention, 20px, 20px);
  }
}

.formBlock--price {
  margin-right: 200px;

  .fieldWrapper {
    &:after {
      content: 'руб. / кг.';
      display: inline-block;
      position: absolute;
      right: 20px;
      font: 14px/20px $circe-regular;
      color: $gray;
    }
  }

  .fieldWrapper__input {
    padding-right: 80px;
  }
}

.fieldWrapperPriceInfo {
  position: absolute;
  top: 11px;
  left: 100%;
  margin-left: 30px;
  padding-right: 60px;
}

.fieldWrapperPriceInfo__sum {
  font-size: 24px;
  line-height: 32px;
  white-space: nowrap;
}

.fieldWrapperPriceInfo__info {
  position: absolute;
  top: -4px;
  right: 0;
  width: 50px;
  font: 14px/19px $circe-regular;
  color: $gray;
}



.ownConditions {
  display: none;
  padding: 5px 0 0;

  &.is-active {
    display: block;
  }

  .formBlock {
    margin-bottom: 25px;
  }

  .formContent__sep {
    margin-top: 20px;
  }
}



// selectize
.form {

  .selectize-control.single .selectize-input {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    font: 14px/50px $circe-regular;
    color: $black;
    background: $input-bg;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: none;
    transition: background-color $transition-normal, border-color $transition-normal;
  }

  .selectize-control.single .selectize-input:after {
    right: 24px;
    border-color: $black transparent transparent;
  }

  .selectize-control.single .selectize-input.dropdown-active:after {
    border-color: transparent transparent $black;
  }

  .selectize-control.single .selectize-input.input-active {
    background: $input-bg;
    border-color: #E4E4E4;
    border-radius: 5px 5px 0 0;
  }

  .selectize-input input {
    font-size: 14px;
    color: $black;
  }



  .selectize-dropdown.single,
  .selectize-dropdown {
    box-shadow: none;
    border-color: #E4E4E4;
  }



  .selectize-dropdown [data-selectable] {
    padding: 14px 15px;
    background: $input-bg;
    font: 14px/22px $circe-regular;
    color: $gray;
    border-bottom: 1px solid #E4E4E4;
    transition: background-color $transition-normal, color $transition-normal;

    &:hover {
      background: $white;
      color: $black;
    }

    &:last-child {
      border: 0;
    }
  }

  .selectize-dropdown .active {
    background: $white;
    color: $black;
  }

  .selectize-dropdown-content {
    max-height: 152px;
  }
}
