.iconWrapper {
  text-align: center;
}

.iconWrapper__icon {

}

.iconWrapper__logo {

}



// logos
.logo {
  vertical-align: middle;
}

.logo--pjat {
  @include logo(pjatorochka, 150px, 28px);
}

.logo--perek {
  @include logo(perekrestok, 146px, 29px);
}

.logo--cola {
  @include logo(coca-cola, 115px, 38px);
}

.logo--pepsi {
  @include logo(pepsi, 123px, 47px);
}



// icons
.icon {
  vertical-align: middle;
}

.icon--market {

}

.icon--factory {

}

.icon--storehouse {

}

.icon--logo {
  @include icon(logo, 334px, 35px);
}

.icon--logoGray {
  @include icon(logo_gray, 148px, 15px);
}

.icon--bottleGreen {
  @include icon(bottle_green, 33px, 63px);
}

.icon--bottleWhite {
  @include icon(bottle_white, 33px, 63px);
}

.icon--boxPurple {
  @include icon(box_purple, 53px, 53px);
}

.icon--boxWhite {
  @include icon(box_white, 53px, 53px);
}

.icon--sliderLeft {
  @include icon(arrow_left_green, 28px, 20px);
}

.icon--sliderRight {
  @include icon(arrow_right_green, 28px, 20px);
}
