/*
mixins for:
  clearfix

  max lines of text

  show animation
  hide animation
*/

@mixin clearfix() {
  overflow: hidden;
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}



@mixin maxTextLines($maxLinesNumber) {
  display: -webkit-box;
  -webkit-line-clamp: $maxLinesNumber;
  -webkit-box-orient: vertical;
}



@mixin show() {
  visibility: visible;
  @include opacity(1);
  @include transition(opacity $transition-normal, visibility $transition-normal);
}

@mixin hide() {
  visibility: hidden;
  @include opacity(0);
  @include transition(opacity $transition-normal, visibility $transition-normal);
}
