/*
mixins for:
  clearfix
  icon
  logo
  max lines of text

  show animation
  hide animation
*/

@mixin clearfix() {
  overflow: hidden;
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin icon($name, $width, $height) {
  display: inline-block;
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/icons/svg/#{$name}.svg');
  background-size: $width $height;

  .no-svg & {
    background-image: url('../img/icons/png/#{$name}.png');
  }
}

@mixin logo($name, $width, $height) {
  display: inline-block;
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/logos/#{$name}.png');
  background-size: $width $height;
}

@mixin maxTextLines($maxLinesNumber) {
  display: -webkit-box;
  -webkit-line-clamp: $maxLinesNumber;
  -webkit-box-orient: vertical;
}



@mixin show() {
  visibility: visible;
  @include opacity(1);
  @include transition(opacity $transition-normal, visibility $transition-normal);
}

@mixin hide() {
  visibility: hidden;
  @include opacity(0);
  @include transition(opacity $transition-normal, visibility $transition-normal);
}
