.popup {
  display: none;
  width: 560px;
  padding: 25px 35px 30px;
  background-color: $white;
  border-radius: 10px;

  &.popup--small {
    width: 225px;
    padding: 42px 44px 35px;
    background-color: #F3F8FC;
    border-radius: 5px;
  }
}

.popupTitle {
  position: relative;
  padding: 5px 0;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
}

.popup-open {
  cursor: pointer;
}

.popup__closeIcon {
  position: absolute;
  z-index: 5;
  top: 34px;
  right: 50px;
  cursor: pointer;
}



// testimonials
.popup--testi {
  .popupTitle {
    padding-right: 60px;
    text-align: left;
  }
}

.popupTestiWrapper {
  position: relative;
  max-height: 350px;
  overflow: auto;
  margin: 38px 0 50px;
}

.popupTestiItem {
  position: relative;
  margin-bottom: 42px;
  padding-left: 100px;

  &:last-child {
    margin-bottom: 0;
  }
}

.popupTestiItem__rating {
  position: absolute;
  top: 0;
  left: 0;
}

.popupTestiItem__review {
  font: 14px/22px $circe-regular;
}

.testiMoreButton {
  height: 63px;
  border: 1px solid #D2D2D2;
  font: 12px/63px $circe-bold-extra;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
}



// ask popup
.popupTitleAsk {
  margin-bottom: 26px;
  font: 14px/19px $circe-regular;
  text-align: center;
}



.askButtonsWrapper {

}

.askButtonsWrapper__button {
  height: 33px;
  width: 100%;
  line-height: 31px;

  &.linkButton--green {
    margin-bottom: 12px;
    line-height: 35px;
  }
}



// ask popup form
.popupForm {

}

.popupStep {
  display: none;

  &.is-active {
    display: block;
  }
}

.popupStepReason {
  border-radius: 5px;
  overflow: hidden;
}

.popupStepReasonField {
  position: relative;
  display: block;
  padding: 5px 15px 5px;
  font: 14px/19px $circe-regular;
  text-align: center;
  background-color: $white-light;
  border-bottom: 1px solid #E4E4E4;
  cursor: pointer;

  &:last-child {
    border-bottom: 0;
  }
}

.popupStepReasonField__input {
  display: none;
}

.popupStep__buttonsWrapper {

}
