$white: #fff;
$white-light: #F8F8F8;

$gray: #4F636F;
$light-gray: #E5E5E5;

$green: #7BB637;

$black: #000000;

$input-bg: #F1F2F6;



$transition-normal: .3s linear;
$transition-fast: .1s linear;

/* fonts */
$circe-bold-extra: 'Circe-ExtraBold', Arial, Tahoma, sans-serif;
$circe-bold: 'Circe-Bold', Arial, Tahoma, sans-serif;
$circe-regular: 'Circe-Regular', Arial, Tahoma, sans-serif;
$circe-light: 'Circe-Light', Arial, Tahoma, sans-serif;
$circe-light-extra: 'Circe-ExtraLight', Arial, Tahoma, sans-serif;
