<div class="headerLoginedInfo">
  <div class="headerLoginedInfo__notificationsWrapper notificationsWrapper notifications-wrapper">
    <div class="notificationsWrapper__button iconWrapper notifications-show">
      <span class="iconWrapper__icon icon icon--bell"></span>
      <span class="iconWrapper__number">10</span>
    </div>
    <div class="notificationsWrapper__notifications notifications tooltip">
      <p class="triangleShadowWrapper"><span class="triangleShadow"></span></p>
      <div class="notifications__list notificationsList">
        <div class="notificationsList__item notificationsItem">
          <span class="notificationsItem__label">Новое</span>
          <p class="notificationsItem__date">02 марта 2017,  20:04:34</p>
          <p class="notificationsItem__info notificationsItemInfo">
            Ваш отклик на 5000 руб на
            <span class="notificationsItemInfo__adsNumber">объявление №1234-45</span>
            был принят, ожидайте совершения сделки
          </p>
        </div>
        <div class="notificationsList__item notificationsItem">
          <p class="notificationsItem__date">02 марта 2017,  20:04:34</p>
          <p class="notificationsItem__info notificationsItemInfo">
            Ваш отклик на 5000 руб на
            <span class="notificationsItemInfo__adsNumber">объявление №1234-45</span>
            был принят, ожидайте совершения сделки
          </p>
        </div>
        <div class="notificationsList__item notificationsItem">
          <span class="notificationsItem__label">Новое</span>
          <p class="notificationsItem__date">02 марта 2017,  20:04:34</p>
          <p class="notificationsItem__info notificationsItemInfo">
            Ваш отклик на 5000 руб на
            <span class="notificationsItemInfo__adsNumber">объявление №1234-45</span>
            был принят, ожидайте совершения сделки
          </p>
        </div>
        <div class="notificationsList__item notificationsItem">
          <p class="notificationsItem__date">02 марта 2017,  20:04:34</p>
          <p class="notificationsItem__info notificationsItemInfo">
            Ваш отклик на 5000 руб на
            <span class="notificationsItemInfo__adsNumber">объявление №1234-45</span>
            был принят, ожидайте совершения сделки
          </p>
        </div>
      </div>
      <span class="notifications__button notificationsButton">ПОМЕТИТЬ КАК ПРОЧТЕННЫЕ</span>
    </div>
  </div>
  <div class="headerLoginedInfo__notificationsWrapper notificationsWrapper notifications-wrapper">
    <div class="notificationsWrapper__button iconWrapper notifications-show">
      <span class="iconWrapper__notifications">ИА</span>
    </div>
    <div class="notificationsWrapper__notifications tooltip tooltip--small">
      <p class="triangleShadowWrapper"><span class="triangleShadow"></span></p>
      <ul class="tooltip__menu tootipMenu">
        <li class="tootipMenu__item tootipMenuItem">
          <a class="ttootipMenuItem__link tootipMenuItemLink" href="#">Настройки</a>
        </li>
        <li class="tootipMenu__item tootipMenuItem">
          <a class="ttootipMenuItem__link tootipMenuItemLink" href="#">Выйти из системы</a>
        </li>
      </ul>
    </div>
  </div>
</div>
