<div class="popup popup--testi">
  <span class="popup__closeIcon icon icon--close popup-close"></span>
  <p class="popup__title popupTitle">Отзывы о переработчике</p>

  <div class="popup__testiWrapper popupTestiWrapper">
    <div class="popupTestiWrapper__item popupTestiItem">
      <div class="popupTestiItem__rating rating">
        <p class="rating__date">28.03.17</p>
        <span class="rating__star is-active"></span>
        <span class="rating__star is-active"></span>
        <span class="rating__star is-active"></span>
        <span class="rating__star is-active"></span>
        <span class="rating__star"></span>
      </div>
      <p class="popupTestiItem__labels dealInfoAboutText">
        <span class="dealInfoAboutText__button">Доверенность на водителя</span>
        <span class="dealInfoAboutText__button">Платный въезд</span>
        <span class="dealInfoAboutText__button">Водитель-гражданин РФ</span>
        <span class="dealInfoAboutText__button">НУЖНЫ ББ ВЗАМЕН</span>
      </p>
      <p class="popupTestiItem__review">Акцентуация параллельна. Супруги вступают в брак
        с жизненными паттернами и уровнями дифференциации Я,
        унаследованными от их родительских семей, таким образом сознание понимает
        эриксоновский гипноз.</p>
    </div>

    <div class="popupTestiWrapper__item popupTestiItem">
      <div class="popupTestiItem__rating rating">
        <p class="rating__date">28.03.17</p>
        <span class="rating__star is-active"></span>
        <span class="rating__star is-active"></span>
        <span class="rating__star is-active"></span>
        <span class="rating__star is-active"></span>
        <span class="rating__star"></span>
      </div>
      <p class="popupTestiItem__labels dealInfoAboutText">
        <span class="dealInfoAboutText__button">Доверенность на водителя</span>
        <span class="dealInfoAboutText__button">Платный въезд</span>
      </p>
    </div>

    <div class="popupTestiWrapper__item popupTestiItem">
      <div class="popupTestiItem__rating rating">
        <p class="rating__date">28.03.17</p>
        <span class="rating__star is-active"></span>
        <span class="rating__star is-active"></span>
        <span class="rating__star is-active"></span>
        <span class="rating__star is-active"></span>
        <span class="rating__star"></span>
      </div>
      <p class="popupTestiItem__labels dealInfoAboutText">
        <span class="dealInfoAboutText__button">Доверенность на водителя</span>
        <span class="dealInfoAboutText__button">Платный въезд</span>
      </p>
      <p class="popupTestiItem__review">Акцентуация параллельна. Супруги вступают в брак
        с жизненными паттернами и уровнями дифференциации Я,
        унаследованными от их родительских семей, таким образом сознание понимает
        эриксоновский гипноз.</p>
    </div>

    <div class="popupTestiWrapper__item popupTestiItem">
      <div class="popupTestiItem__rating rating">
        <p class="rating__date">28.03.17</p>
        <span class="rating__star is-active"></span>
        <span class="rating__star is-active"></span>
        <span class="rating__star is-active"></span>
        <span class="rating__star is-active"></span>
        <span class="rating__star"></span>
      </div>
      <p class="popupTestiItem__review">Однако, исследователи постоянно сталкиваются с тем,
        что предсознательное аннигилирует гомеостаз. Стимул, как принято считать,
        существенно аннигилирует сублимированный интеллект, тем не менее
        как только ортодоксальность окончательно возобладает,
        даже эта маленькая лазейка будет закрыта.</p>
    </div>

    <div class="popupTestiWrapper__item popupTestiItem">
      <div class="popupTestiItem__rating rating">
        <p class="rating__date">28.03.17</p>
        <span class="rating__star is-active"></span>
        <span class="rating__star is-active"></span>
        <span class="rating__star is-active"></span>
        <span class="rating__star is-active"></span>
        <span class="rating__star"></span>
      </div>
      <p class="popupTestiItem__review">Акцентуация параллельна. Супруги вступают
        в брак с жизненными паттернами и уровнями дифференциации Я.</p>
    </div>
  </div>

  <div class="popup__testiMore testiMoreButton">ПОКАЗАТЬ ЕЩЕ</div>
</div>
