<div class="popup popup--small">

  <div class="popup__step popupStep is-active" data-step="0">
    <p class="popupStep__titleAsk popupTitleAsk">Успешно ли<br>завершена сделка?</p>
    <div class="popupStep__askButtonsWrapper askButtonsWrapper">
      <span class="askButtonsWrapper__button linkButton linkButton--green popup-deal" data-step="2">УСПЕШНО</span>
      <span class="askButtonsWrapper__button linkButton linkButton--greenTransparent popup-deal" data-step="1">НЕ УСПЕШНО</span>
    </div>
  </div>

  <form class="popup__form popupForm">

    <div class="popupForm__step popupStep" data-step="1">
      <p class="popupStep__title popupTitle">Укажите причину неудачи</p>
      <div class="popupStep__reason popupStepReason">
        <label class="popupStepReason__field popupStepReasonField">
          <input class="popupStepReasonField__input" type="radio" name="reason">
          <span class="popupStepReasonField__info">Причина номер 1</span>
          <span class="popupStepReasonField__icon"></span>
        </label>
        <label class="popupStepReason__field popupStepReasonField">
          <input class="popupStepReasonField__input" type="radio" name="reason">
          <span class="popupStepReasonField__info">Причина номер 2</span>
          <span class="popupStepReasonField__icon"></span>
        </label>
        <label class="popupStepReason__field popupStepReasonField">
          <input class="popupStepReasonField__input" type="radio" name="reason">
          <span class="popupStepReasonField__info">Причина номер 3 Причина номер 3 Причина номер 3 Причина номер 3 Причина номер 3 Причина номер 3 Причина номер 3</span>
          <span class="popupStepReasonField__icon"></span>
        </label>
        <label class="popupStepReason__field popupStepReasonField">
          <input class="popupStepReasonField__input" type="radio" name="reason">
          <span class="popupStepReasonField__info">Причина номер 4</span>
          <span class="popupStepReasonField__icon"></span>
        </label>
      </div>
    </div>

    <div class="popupForm__step popupStep" data-step="2">
      <p class="popupStep__title popupTitle">Оставьте отзыв о переработчике</p>

    </div>

    <div class="popupForm__buttonsWrapper buttonsWrapper">
      <button type="submit" class="buttonsWrapper__button linkButton linkButton--green popup-submit" disabled>ЗАКРЫТЬ СДЕЛКУ</button>
      <button type="button" class="buttonsWrapper__button linkButton linkButton--greenTransparent popup-close">ОТМЕНИТЬ</button>
    </div>

  </form>

</div>
