<div class="popup popup--small">

  <div class="popup__step popupStep is-active" data-step="0">
    <p class="popupStep__titleAsk popupTitleAsk">Успешно ли<br>завершена сделка?</p>
    <div class="popupStep__askButtonsWrapper askButtonsWrapper">
      <span class="askButtonsWrapper__button linkButton linkButton--green popup-deal" data-step="2">УСПЕШНО</span>
      <span class="askButtonsWrapper__button linkButton linkButton--greenTransparent popup-deal" data-step="1">НЕ УСПЕШНО</span>
    </div>
  </div>

  <form class="popup__form popupForm">

    <div class="popupForm__step popupStep" data-step="1">
      <p class="popupStep__title popupTitle">Укажите причину неудачи</p>

      <div class="popupStep__reason popupStepReason">
        <label class="popupStepReason__field popupStepReasonField">
          Причина номер 1
          <input class="popupStepReasonField__input" type="radio" name="reason">
        </label>
        <label class="popupStepReason__field popupStepReasonField">
          Причина номер 2
          <input class="popupStepReasonField__input" type="radio" name="reason">
        </label>
        <label class="popupStepReason__field popupStepReasonField">
          Причина номер 3 Причина номер 3 Причина номер 3 Причина номер 3 Причина номер 3 Причина номер 3 Причина номер 3
          <input class="popupStepReasonField__input" type="radio" name="reason">
        </label>
        <label class="popupStepReason__field popupStepReasonField">
          Причина номер 4
          <input class="popupStepReasonField__input" type="radio" name="reason">
        </label>
      </div>

      <div class="popupStep__buttonsWrapper buttonsWrapper">
        <span class="buttonsWrapper__button linkButton linkButton--green">ЗАКРЫТЬ СДЕЛКУ</span>
        <span class="buttonsWrapper__button linkButton linkButton--greenTransparent popup-close">ОТМЕНИТЬ</span>
      </div>
    </div>

  </form>

</div>
