<div class="popup popup--delete">
  <p class="popup__title popupTitle">Хотите удалить объявление?</p>
  <p class="popup__info popupInfo">Вы удалите его навсегда, это действие нельзя отменить и вы потеряете все активные отклики</p>
  <div class="popup__buttonsWrapper buttonsWrapper">
    <button type="button" class="buttonsWrapper__button linkButton linkButton--greenTransparent popup-close">НЕ УДАЛЯТЬ</button>
    <button type="button" class="buttonsWrapper__button linkButton linkButton--green">УДАЛИТЬ</button>
  </div>
</div>
