// title tabs
.titlePage__buttonsWrapper {
  display: inline-block;
  margin-top: 4px;
  float: right;
  font-size: 0;
  white-space: nowrap;
}

.titlePageButton {
  display: inline-block;
  margin: 0 20px 0 40px;
  font: 10px/14px $circe-bold-extra;
  cursor: pointer;
  opacity: 0.3;
  transition: opacity $transition-normal;

  &.is-active {
    opacity: 1;
    cursor: default;
  }

  &:first-child {
    margin-left: 0;
  }
}


// cols
.adsCols {
  padding: 5px 0 60px;
}

.adsCol {
  position: relative;
  margin-bottom: 25px;
  background: $white;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow $transition-normal;

  &:hover {
    box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.20);

    .adsColMoreAdsNumber__text {
      max-width: 120px;
      opacity: 1;
    }
  }

  &.is-hidden {
    display: none;
  }

  &.colFlex--3 {
    flex-basis: 31.5%;
    margin-right: 2.75%;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &.colFlex--2 {
    flex-basis: 48%;
    margin-right: 4%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.adsColMoreAdsNumber {
  display: inline-block;
  padding: 0 12px;
  position: absolute;
  z-index: 1;
  left: 25px;
  top: -15px;
  height: 30px;
  font: 13px/32px $circe-bold-extra;
  color: $white;
  background: #E72081;
  border-radius: 100px;
}

.adsColMoreAdsNumber__text {
  display: inline-block;
  max-width: 0;
  opacity: 0;
  margin-left: 2px;
  transition: max-width $transition-normal, opacity $transition-normal;
}



// empty cols




// col header
.adsColHeader {
  position: relative;
  height: 142px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.adsColHeader__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 84px;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 100%);
}

.adsColHeaderInfo {
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 15px;
  font: 15px/21px $circe-bold;
  color: $white;
}

.adsColHeaderInfo__title {

}

.adsColHeaderInfo__subtitle {
  font-family: $circe-regular;
}

.adsColHeader__img {
  width: 100%;
}



// col content
.adsColContent {
  position: relative;
  padding: 21px 50px 0 25px;
}

.adsColContent__title {
  font: 14px/19px $circe-bold;
  color: $gray;
}

.adsColContent__info {
  padding-bottom: 20px;
  font: 14px/20px $circe-regular;
}

.adsColContent__date {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #ACACAC;
  white-space: nowrap;
}



// col footer
.adsColFooter {
  padding: 10px 25px 10px;
  border-top: 1px solid #ECECEC;
  @include clearfix();
}

.adsColFooter__iconWrapper {
  display: inline-block;
  margin-left: 25px;

  &.adsColFooter__iconWrapper--example {
    float: right;
    margin-left: 0;
    color: $black;
    @include hide();

    .adsCol:hover & {
      @include show();
    }
  }

  &:first-child {
    margin-left: 0;
  }

  .icon {
    margin-right: 5px;
  }

  .iconWrapper__number {
    line-height: 30px;
    font: 13px/19px $circe-regular;
  }
}

.adsColFooter__link {
  float: left;
  display: inline-block;
  padding: 5px 0 2px;
  font: 12px/19px $circe-bold-extra;
  color: $gray;
  text-transform: uppercase;

  &:last-child {
    float: right;
  }
}

.adsColFooter__link--active {
  color: #D1AE45;
}



// empty col
.adsColEmpty {
  align-items: center;
  display: none;
  justify-content: center;
  border: 1px dashed #D5D5D5;
  background-color: transparent;
  transition: box-shadow $transition-normal, border-color $transition-normal;

  &.is-visible {
    display: flex;
  }

  &:hover {
    border-color: transparent;
  }
}

.adsColEmptyWrapper__iconWrapper {
  margin-bottom: 20px;
}

.adsColEmptyWrapper__new {
  font: 10px/14px $circe-bold-extra;
  text-transform: uppercase;
  text-align: center;
}



// pererab cols
.adsCol--responses {

  .adsColMoreAdsNumber {
    top: 10px;
    left: auto;
    right: 10px;
  }
}


.adsColInfoCols {
  border-top: 1px solid #F0F0F0;
}

.adsColInfoCol {
  padding: 23px 5px 20px;
  text-align: center;
  border-right: 1px solid #F0F0F0;

  &:last-child {
    border-right: 0;
  }
}

.adsColInfoCol__title {

}

.adsColInfoCol__about {
  font: 12px/19px $circe-regular;
  color: $gray;
}



.adsColFooterConditions {
  position: relative;
  padding: 11px 0 9px 32px;
  font: 14px/19px $circe-regular;
}

.adsColFooterConditions__icon {
  position: absolute;
  top: 9px;
  left: 0;
}



// pererab cols search
.adsCol--borderGreen {

  .adsColContent,
  .adsColInfoCols,
  .adsColFooter {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    transition: border-color $transition-normal;
  }

  .adsColFooter {
    border-bottom: 2px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &:hover {
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);

    .adsColContent,
    .adsColInfoCols,
    .adsColFooter {
      border-left-color: $green;
      border-right-color: $green;
    }

    .adsColFooter {
      border-bottom-color: $green;
    }
  }
}
