.sectionZakaz {
  padding: 0 0 110px;

  .addStorehouse {
    margin: 35px 0 40px;
  }
}

.sectionZakaz__contentIn {

}



.zakazStep {
  margin: 38px 0 40px;
}

.zakazStepTitle {
  position: relative;
  margin-bottom: 30px;
  padding-left: 60px;
  font-size: 26px;
  line-height: 35px;
}

.zakazStepTitle__number {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-top: -18px;
  border-radius: 50%;
  background: #80BA27;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  color: $white;
}



.zakazContent {
  position: relative;
  margin-top: 25px;
  padding: 2px 0 5px;
  background: $white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  border-radius: 10px;
}

.zakazContent--map {
  padding: 2px 0 30px;
  overflow: hidden;
}

.zakazContentColMap {

}

.dateLink {
  display: inline-block;
  margin-top: 14px;
  margin-right: 30px;
  font: 14px/22px $circe-regular;
  color: $green;

  &:last-child {
    margin-right: 0;
  }
}



@media (max-width: 768px) {
  .sectionZakaz {
    padding: 10px 0 20px;

    .addStorehouse {
      margin: 25px 20px 50px;
    }
  }

  .zakazStep {
    margin: 17px 0 25px;
  }

  .zakazContent {
    box-shadow: none;
    border-radius: 0;
  }

  .sectionZakaz__contentIn {
    padding: 0;
  }

  .zakazStepTitle {
    margin: 0 20px 20px;
    font-size: 22px;
  }



  .zakazContent--map {
    padding-bottom: 8px;

    .colsFlex__col {
      flex-basis: 100%;
    }
  }

  .zakazContentColMap {
    display: none;
  }
}



// raw materials added
.zakazAdded {
  position: relative;
  min-height: 100px;
  margin: 15px 0;
  padding-left: 100px;
  padding-right: 140px;
  overflow: hidden;
}

.zakazAdded__imgWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  overflow: hidden;

  .imgWrapper__img {
    min-height: 100%;
  }
}

.zakazAdded__iconWrapper {
  position: absolute;
  top: 30px;
  right: 0;
  width: 140px;
  text-align: center;
  font-size: 0;

  .icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    line-height: 40px;
    border-radius: 50%;
  }

  .icon--pensil {
    background-color: $green;
  }

  .icon--basket {
    background-color: #D96A6A;
  }
}



@media (max-width: 768px) {
  .zakazAdded {
    margin: 15px 20px;
    padding: 0;
  }

  .zakazAdded__iconWrapper {
    position: static;

    .icon--pensil {
      @include icon(pensil_green, 15px, 15px);
      right: 41px;
    }

    .icon--basket {
      @include icon(basket_red, 11px, 14px);
      right: 11px;
    }

    .icon {
      position: absolute;
      background-color: transparent;
      width: 20px;
      height: 20px;
      top: 25px;
    }
  }
}



.zakazAddedCols {

}

.zakazAddedAbout {
  float: left;
  width: 37%;
  padding: 30px 0 20px 25px;
}

.zakazAddedAbout__title {
  font: 15px/21px $circe-bold;
}

.zakazAddedAbout__subtitle {
  font: 15px/21px $circe-regular;
}

.zakazAddedInfo {
  float: left;
  width: 21%;
  margin: 20px 0 10px;
  padding: 5px 10px 5px 30px;
  border-right: 1px solid #ECECEC;

  &:last-child {
    border: 0;
  }
}

.zakazAddedInfo__title {
  font-size: 20px;
  line-height: 28px;
}

.zakazAddedInfo__subtitle {
  font: 14px/20px $circe-regular;
  color: #A6A6A6;
  white-space: nowrap;
}



@media (max-width: 768px) {
  .zakazAddedAbout {
    width: 100%;
    float: none;
    padding: 20px 75px 17px 20px;
    border-bottom: 1px solid #ECECEC;
  }

  .zakazAddedInfo {
    display: block;
    width: auto;
    margin: 0 20px;
    padding: 16px 0 14px;
    float: none;
    @include clearfix();
    border-right: 0;
    border-bottom: 1px solid #ECECEC;
  }

  .zakazAddedInfo__title {
    float: right;
    width: 50%;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
  }

  .zakazAddedInfo__subtitle {
    float: left;
    width: 50%;
    font-size: 14px;
    line-height: 21px;
  }
}
