.adsContent {
  position: relative;
  max-width: 1280px;
  min-width: 300px;
  height: 100%;
  margin: 0 auto;
}

.adsWrapper {
  width: 700px;
}

.adsView {
  margin: 0 0 28px;
  padding: 22px 60px 0 40px;
  background-color: $white;
  overflow: hidden;
}

.adsViewTitle {
  margin-bottom: 32px;
  font-size: 26px;
  line-height: 34px;
}



// meta
.adsViewMeta {

}

.adsViewMeta__info {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  margin-right: 10px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 32px;
  color: #ACACAC;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    background-color: #D8D8D8;
    border-radius: 50%;
  }

  &:last-child {
    padding-right: 0;
    margin-right: 0;

    &:after {
      display: none;
    }
  }
}

.adsViewMeta__info--attention {
  color: #E72081;
}








// info
.adsViewInfo {
  margin: 0 0 30px;
  background: $white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  border-radius: 10px;
}

.adsViewInfoCol {
  padding: 21px 10px 16px;
  border-right: 1px solid #F0F0F0;
  text-align: center;

  &:last-child {
    border-right: 0;
  }
}

.adsViewInfoCol__quantity {
  margin-bottom: 1px;
  font-size: 24px;
  line-height: 32px;

  sup {
    display: inline-block;
    line-height: 19px;
  }
}

.adsViewInfoCol__caption {
  font: 14px/20px $circe-regular;
  color: #4F636F;
}





// details








// testimonials
.adsTesti {
  padding: 0 60px 50px 40px;
}

.adsTesti__title {

}

.adsTestiItem {
  width: 600px;
  margin: 0 0 20px;
  background: $white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  border-radius: 5px;
  transition: box-shadow $transition-normal;

  &:hover {
    box-shadow: 15px 15px 15px 0px rgba(0,0,0,0.20);
  }

  &:last-child {
    margin-bottom: 0;
  }
}



.adsTestiItemAuthor {
  flex-basis: 115px;
  padding: 25px 20px;
  text-align: center;
}

.adsTestiItemAuthor__avatar {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 50%;
}

.adsTestiItemAuthor__rating {
  padding-bottom: 20px;
}



.adsTestiInfoWrapper {
  flex-basis: 325px;
  padding: 24px 20px 25px 0;
}

.adsTestiInfo {
  margin: 0 0 25px;
}

.adsTestiInfo__title {
  margin-bottom: 12px;
  font: 16px/20px $circe-regular;
}

.adsTestiInfoText {
  position: relative;
  margin-bottom: 9px;
  padding-left: 70px;
  font: 12px/19px $circe-regular;

  &:last-child {
    margin-bottom: 0;
  }
}

.adsTestiInfoText__title {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  font-family: $circe-bold;
  color: #4F636F;
}

.adsTestiInfoWrapper__additional {

  &.dealInfoAboutText {
    padding-left: 0;
  }
}



.adsPriceWrapper {
  position: relative;
  flex-basis: 160px;
  padding: 27px 15px 70px;
  text-align: center;
  background: #F3F8FC;
}

.adsPriceWrapper__price {
  font-size: 22px;
  line-height: 29px;
}

.adsPriceWrapper__quantity {
  font: 12px/14px $circe-regular;
  color: #7F7F7F;
}

.adsPriceWrapper__button {
  position: absolute;
  bottom: 27px;
  left: 20px;
  right: 25px;
  width: auto;
  height: 33px;
  line-height: 31px;

  &:hover {
    background-color: #7BB736;
    border-color: #7BB736;
    color: $white;
  }
}
