.offerWrapper {
  margin: 50px 50px 70px;
  padding-top: 30px;
  background: $white;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  border-radius: 10px;

  .adsViewTitle {
    margin-left: 36px;
  }
}
