.adsContent {
  position: relative;
  max-width: 1300px;
  min-width: 300px;
  height: 100%;
  margin: 0 auto;
}

.adsWrapper {
  width: 700px;
}

.adsView {
  margin: 0 0 28px;
  padding: 22px 50px 0;
  background-color: $white;
  overflow: hidden;
}

.adsViewTitle {
  position: relative;
  margin-bottom: 32px;
  font-size: 26px;
  line-height: 34px;

  .adsResponse & {
    padding-right: 60%;
  }
}

.adsViewTitle--info {
  padding-right: 200px;
}

.adsViewTitle__button {
  position: absolute;
  top: -16px;
  right: 0;
  line-height: 54px;
}

.adsViewTitle__sentInfo {
  position: absolute;
  top: 0;
  right: 30px;
  display: inline-block;
  padding-left: 35px;
  white-space: nowrap;
  font: 12px/19px $circe-bold-extra;
  text-transform: uppercase;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    @include icon(sent_ok_title, 20px, 20px);
  }
}



// map
.mapWrapper {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 50%;
  right: 0;
  margin-left: 50px;
}



/***** filters *****/
.adsResponseFilter {
  position: absolute;
  top: 5px;
  left: 40%;
  font-size: 0;
}

.adsResponseFilter--right {
  left: auto;
  right: 0;
}

.adsResponseFilterItem {
  display: inline-block;
  margin-right: 52px;

  &:last-child {
    margin-right: 0;
  }
}

.adsResponseFilterItem__link {
  font: 10px/20px $circe-bold-extra;
  color: rgba(0,0,0, 0.3);

  &.is-active {
    color: rgba(0,0,0, 1);
  }
}



/***** meta *****/
.adsViewMeta {
  margin-bottom: 10px;
}

.adsViewMeta__info {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  margin-right: 10px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 32px;
  color: $black;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    background-color: #D8D8D8;
    border-radius: 50%;
  }

  &:last-child {
    padding-right: 0;
    margin-right: 0;

    &:after {
      display: none;
    }
  }
}

.adsViewMeta__info--date {
  color: #ACACAC;
}

.adsViewMeta__info--link {
  color: $green;
}



/***** info *****/
.adsViewInfo {
  margin: 0 0 30px;
  background: $white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  border-radius: 10px;
}

.adsViewInfoCol {
  padding: 21px 10px 16px;
  border-right: 1px solid #F0F0F0;
  text-align: center;

  &:last-child {
    border-right: 0;
  }
}

.adsViewInfoCol__quantity {
  margin-bottom: 1px;
  font-size: 24px;
  line-height: 32px;

  sup {
    display: inline-block;
    line-height: 19px;
  }
}

.adsViewInfoCol__caption {
  font: 14px/20px $circe-regular;
  color: #4F636F;
}



/***** details *****/
.adsDetailsWrapper {
  position: relative;
  padding: 0 0 56px;
  background-color: $white;
}

.adsDetailsWrapper__buttonWrapper {
  position: absolute;
  left: -50px;
  right: -50px;
  bottom: 0;
  height: 56px;
  border-top: 1px dashed #DEDEDE;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  background-color: $white;
  transition: background-color $transition-normal, border-color $transition-normal;

  &.is-opened {
    background-color: $white-light;
    border-bottom-color: #DEDEDE;

    .adsDetailsButton {
      &:before {
        transform: rotate(180deg);
      }
    }
  }
}

.adsDetailsButton {
  position: relative;
  display: inline-block;
  padding-left: 27px;
  font: 12px/55px $circe-bold-extra;
  color: #4F636F;
  text-align: center;
  text-transform: uppercase;

  &:before {
    content: '';
    @include icon(arrow_down, 15px, 9px);
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -4px;
    transform: rotate(0deg);
    transition: transform $transition-normal;
  }
}



.adsDetails {

  .dealInfoAboutText {
    padding-left: 180px;
  }

  .dealInfoAbout__title {
    width: auto;
  }

  .dealInfoAboutText__button {
    color: $black;
  }
}



.adsDetailsSlider {
  margin: 0 -50px;
  padding: 25px 50px;
  background-color: $white-light;

  &.adsDetailsSlider--bgWhite {
    background-color: $white;
  }

  .slick-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -12px;
  }

  .slider-details-left {
    left: 22px;
    @include icon(arrow_ads_left, 13px, 25px);
  }

  .slider-details-right {
    right: 22px;
    @include icon(arrow_ads_right, 13px, 25px);
  }
}

.adsDetailsSlide {
  margin: 0 7px;
}

.adsDetailsSlide__img {
  width: 100%;
  border-radius: 5px;
}

.slider-details-button {
  display: inline-block;
}



/***** responses *****/
.adsResponse {
  padding: 0 50px 50px;
}

.adsResponse--search {
  padding-bottom: 10px;

  .adsCols {
    padding-bottom: 0;
  }
}

.adsResponse__title {

}

.adsResponseItem {
  width: 600px;
  margin: 0 0 20px;
  background: $white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  border-radius: 5px;
  transition: box-shadow $transition-normal;

  &:hover {
    box-shadow: 15px 15px 15px 0px rgba(0,0,0,0.20);
  }

  &:last-child {
    margin-bottom: 0;
  }
}



.adsResponseItemAuthor {
  flex-basis: 115px;
  padding: 25px 20px;
  text-align: center;
}

.adsResponseItemAuthor__avatar {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 50%;
}

.adsResponseItemAuthor__rating {
  padding-bottom: 20px;
}



.adsResponseInfoWrapper {
  flex-basis: 325px;
  padding: 24px 20px 25px 0;
}

.adsResponseInfo {
  margin: 0 0 25px;
}

.adsResponseInfo__title {
  margin-bottom: 12px;
  font: 16px/20px $circe-regular;
}

.adsResponseInfoText {
  position: relative;
  margin-bottom: 9px;
  padding-left: 90px;
  font: 12px/19px $circe-regular;

  &:last-child {
    margin-bottom: 0;
  }
}

.adsResponseInfoText__title {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  font-family: $circe-bold;
  color: #4F636F;
}

.adsResponseInfoWrapper__additional {

  &.dealInfoAboutText {
    padding-left: 0;
  }
}



.adsPriceWrapper {
  position: relative;
  flex-basis: 160px;
  padding: 27px 15px 70px;
  text-align: center;
  background: #F3F8FC;
}

.adsPriceWrapper__price {
  font-size: 22px;
  line-height: 29px;
}

.adsPriceWrapper__quantity {
  font: 12px/14px $circe-regular;
  color: #7F7F7F;
}

.adsPriceWrapper__button {
  position: absolute;
  bottom: 27px;
  left: 20px;
  right: 25px;
  width: auto;
  height: 33px;
  line-height: 31px;

  &:hover {
    background-color: #7BB736;
    border-color: #7BB736;
    color: $white;
  }
}
