// recommendations
.recommendations {
  margin: 0 -50px -15px;
  padding: 35px 50px 0;
  border-top: 1px solid #EBEBEB;
  @include clearfix();

  .recommendations__title {

  }
}



.recommendationsDistance {
  float:left;
  width: 148px;
  margin-top: 20px;
  padding: 45px 15px 41px;
  text-align: center;
  background-color: #F3F8FC;
  border-radius: 5px;
}

.recommendationsDistance__distance {
  font-size: 22px;
  line-height: 29px;
}

.recommendationsDistance__caption {
  margin-top: 3px;
  font: 14px/19px $circe-regular;
  color: $gray;
}



.recommendations__cols {
  margin-left: 175px;
  padding-top: 8px;
}

.recommendationsCol {
  padding: 16px 15px 12px;
  text-align: center;
  border-bottom: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;

  &:nth-child(2n) {
    border-right: 0;
  }

  &:nth-last-child(1),
  &:nth-last-child(2) {
    border-bottom: 0;
  }
}

.recommendationsCols__price {
  font-size: 22px;
  line-height: 29px;
}

.recommendationsCols__transport {
  font: 14px/19px $circe-regular;
  color: $gray;
}



// own response
.offerWrapper {
  margin: 50px 50px 70px;
  padding-top: 30px;
  background: $white;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  border-radius: 10px;

  .adsViewTitle {
    margin-left: 36px;
  }
}

.ownConditions {

}



// result
.offerWrapper__iconWrapper {
  padding: 20px 36px 30px;
}

.iconWrapper__sentInfo {
  margin: 15px 0;
  font: 14px/20px $circe-regular;
}



.offerResult {
  margin: 0 30px 30px;
  padding: 32px 20px 28px;
  text-align: center;
  background-color: #F3F8FC;
  border-radius: 5px;
}

.offerResult__sum {
  font-size: 26px;
  line-height: 32px;
}

.offerResult__info {
  font: 14px/19px $circe-regular;
  color: #7F7F7F;
}

.offerWrapperDealInfo {
  margin: -15px 36px 0;
}
