body {
  font-size: 16px;
  line-height: 1.5;
  font-family: $circe-light;
  color: $black;
  background-color: $white-light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a,
button {
    transition: color $transition-normal, border-color $transition-normal, background-color $transition-normal;
    cursor: pointer;
}



::-webkit-input-placeholder {color: #CCCCCC;}
:-moz-placeholder {color: #CCCCCC;}
::-moz-placeholder {color: #CCCCCC;}
:-ms-input-placeholder {color: #CCCCCC;}

.forDesctop {
  display: block;
}

.forMobile {
  display: none;
}

.fullHeight {
  height: 100%;
}


.contentWrapper {
  overflow: hidden;
  padding-top: 80px;

  &.fullHeight {
    overflow: auto;
  }
}

.content {

}

.contentIn {
  position: relative;
  max-width: 960px;
  min-width: 300px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}



@media (max-width: 1024px) {
  
}



@media (max-width: 768px) {
  .forDesctop {
    display: none;
  }

  .forMobile {
    display: block;
  }
}



// tolltip
.tooltip {
  display: none;
  position: absolute;
  z-index: 1;
  top: 150%;
  right: 50%;
  width: 340px;
  margin-right: -50px;
  background: $white;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.20);
  border-radius: 3px;

  &.is-visible {
    display: block;
  }
}

.tooltip--small {
  width: 170px;
  z-index: 2;
}

.triangleShadowWrapper {
  position: absolute;
  right: 35px;
  top: -30px;
}

.triangleShadow {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 18px -17px rgba(0,0,0,0.20);

  &:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: $white;
    transform: rotate(45deg);
    top: 22px;
    left: 0;
    box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.20);
  }
}



// rating
.rating {
  font-size: 0;
  line-height: 0;
}

.rating__title {
  margin: 0 0 4px;
  font: 12px/14px $circe-regular;
  text-align: center;
}

.rating__date {
  margin-bottom: 4px;
  font: 14px/19px $circe-regular;
  color: #999999;
}

.rating__star {
  @include icon(star_gray, 12px, 11px);

  &.is-active {
    @include icon(star_yellow, 12px, 11px);
  }
}



// tabs
.tabs-content {
  display: none;

  &.is-visible {
    display: block;
  }
}



// sliding
.slide-down-container {


}

.slide-down-content {
  display: none;
}

.slide-down {
  &.is-opened {

  }
}



// empty block
.emptyInfoWrapper {
  display: table;
  width: 100%;
  min-height: 360px;
  height: 100%;
  padding: 0 40px;
}

.emptyInfo {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.emptyInfo__iconWrapper {
  margin: 0 auto 30px;
  width: 120px;
  height: 120px;
  background-color: rgba(79, 99, 111, 0.2);
  border-radius: 50%;
  line-height: 122px;
  text-align: center;

  .icon {

  }
}

.emptyInfo__title {
  margin-bottom: 10px;
  font: 24px/32px $circe-regular;
}

.emptyInfo__about {
  max-width: 320px;
  margin: 0 auto;
}

.emptyInfo__button {
  width: auto;
  white-space: nowrap;
  margin-top: 35px;
  padding: 0 25px;
  text-transform: uppercase;
}



// notifications
.notification {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  right: 0;
  background: #899CA8;
  transition: top .5s ease;

  &.is-active {
    top: 80px;
  }
}

.notification__contentIn {
  padding-top: 22px;
  padding-bottom: 19px;
  font: 14px/19px $circe-regular;
  color: $white;
  text-align: center;
}
