body {
  font-size: 16px;
  line-height: 1.5;
  font-family: $circe-light;
  color: $black;
  background-color: $white-light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a,
button {
    transition: color $transition-normal, border-color $transition-normal, background-color $transition-normal;
    cursor: pointer;
}



::-webkit-input-placeholder {color: #CCCCCC;}
:-moz-placeholder {color: #CCCCCC;}
::-moz-placeholder {color: #CCCCCC;}
:-ms-input-placeholder {color: #CCCCCC;}

.forDesctop {
  display: block;
}

.forMobile {
  display: none;
}



.contentWrapper {
  overflow: hidden;
  padding-top: 80px;
}

.content {

}

.contentIn {
  position: relative;
  max-width: 960px;
  min-width: 300px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}



@media (max-width: 992px) {

}



@media (max-width: 767px) {
  .forDesctop {
    display: none;
  }

  .forMobile {
    display: block;
  }
}



// tolltip
.tooltip {
  display: none;
  position: absolute;
  z-index: 1;
  top: 150%;
  right: 50%;
  width: 340px;
  margin-right: -50px;
  background: $white;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.20);
  border-radius: 3px;

  &.is-visible {
    display: block;
  }
}

.tooltip--small {
  width: 170px;
  z-index: 2;
}

.triangleShadowWrapper {
  position: absolute;
  right: 35px;
  top: -30px;
}

.triangleShadow {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 18px -17px rgba(0,0,0,0.20);

  &:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: $white;
    transform: rotate(45deg);
    top: 22px;
    left: 0;
    box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.20);
  }
}
