body {
  font-size: 16px;
  line-height: 1.5;
  font-family: $circe-light;
  color: $black;
  background-color: $white-light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a,
button {
    transition: color $transition-normal, border-color $transition-normal, background-color $transition-normal;
    cursor: pointer;
}



::-webkit-input-placeholder {color: #CCCCCC;}
:-moz-placeholder {color: #CCCCCC;}
::-moz-placeholder {color: #CCCCCC;}
:-ms-input-placeholder {color: #CCCCCC;}

.forDesctop {
  display: block;
}

.forMobile {
  display: none;
}



.contentWrapper {
  overflow: hidden;
  padding-top: 80px;
}

.content {

}

.contentIn {
  position: relative;
  max-width: 960px;
  min-width: 300px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}



@media (max-width: 992px) {

}



@media (max-width: 767px) {
  .forDesctop {
    display: none;
  }

  .forMobile {
    display: block;
  }
}
