.dealWrapper {
  margin-bottom: 20px;
  background: $white;
  border: 2px solid #EBEBEB;
  border-radius: 10px;
}

.deal {
  padding: 30px 30px 18px;
  border-bottom: 1px solid #EBEBEB;
  @include clearfix();

  &:last-child {
    border: 0;
  }
}



// price block
.dealPrice {
  float: right;
  width: 225px;
  padding: 24px 30px 27px;
  text-align: center;
  background-color: #F3F8FC;
  border-radius: 5px;
}

.dealPrice--success {
  padding-bottom: 20px;
  background-color: #E0EECF;
}

.dealPrice--refuse {
  padding-bottom: 20px;
  background-color: #F8E7E7;

  .dealPrice__resume {
    color: #FF4F4F;
  }
}

.dealPrice__dealNumber {
  margin-bottom: 36px;
  font: 14px/19px $circe-regular;
  color: $gray;
}

.dealPrice__price {
  font-size: 26px;
  line-height: 29px;
}

.dealPrice__pricePerQuantity {
  margin-bottom: 34px;
  font: 14px/18px $circe-regular;
  color: #7F7F7F;
}

.dealPrice__button {
  width: 100%;
  height: 33px;
  line-height: 31px;
}

.dealQuantityWrapper__button {
  position: absolute;
  width: auto;
  bottom: -57px;
  left: 30px;
  right: 30px;
  height: 33px;
  line-height: 31px;
}



.dealPrice__date {
  margin-bottom: 10px;
  font: 12px/17px $circe-bold-extra;
  text-transform: uppercase;
}

.dealPrice__resume {
  font: 12px/17px $circe-bold-extra;
  color: $green;
  text-transform: uppercase;
}



// quantity block
.dealQuantityWrapper {
  position: relative;
  float: right;
  width: 225px;
  text-align: center;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
}

.dealQuantityInfo {
  padding: 18px 20px 15px;
  border-bottom: 1px solid #F0F0F0;

  &:last-child {
    border: 0;
  }
}

.dealQuantityInfo__quantity {
  margin-bottom: 3px;
  font-size: 18px;
  line-height: 27px;

  sup {
    display: inline-block;
    font-size: 12px;
    line-height: 5px;
  }
}

.dealQuantityInfo__about {
  font: 12px/18px $circe-regular;
  color: $gray;
}



// deal info
.dealInfo {
  position: relative;
  margin: 0 282px 0 125px;
}

.dealInfo__who {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: -125px;
  max-width: 115px;
  font-size: 18px;
  line-height: 24px;
  color: $gray;
}

.dealInfoTitle {
  position: relative;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 33px;
}

.dealInfoTitle--withRating {
  padding-right: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dealInfoTitle__important {
  color: $green;
}

.dealInfoTitle__rating {
  position: absolute;
  top: 11px;
  right: 50px;
}

.dealInfoAbout {
  padding: 18px 0 17px;
  border-bottom: 1px solid #EBEBEB;
  @include clearfix();

  &:last-child {
    border-bottom: 0;
  }
}

.dealInfoAbout__title {
  margin-top: 1px;
  float: left;
  width: 100px;
  font: 14px/19px $circe-regular;
  color: $gray;
}

.dealInfoAboutText {
  padding-left: 120px;
  font: 14px/20px $circe-regular;
}

.dealInfoAboutText__link {
  color: $green;
}

.dealInfoAboutText__button {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px 15px 4px;
  font: 9px/14px $circe-bold;
  color: #C3C3C3;
  border: 1px solid #E3E3E3;
  border-radius: 5px;

  &.is-active {
    color: $black;
    border-color: $green;
  }
}
