/*************** common ***************/
.contentLp {
  @include clearfix();
  background-color: $white;
}

.contentLpIn {
  position: relative;
  max-width: 1230px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
  font-size: 16px;
  line-height: 1.5;
  font-family: $circe-light;
  color: #000000;
}

.titleMainLp {
  padding: 72px 0 24px;
  font: 32px/38px $circe-light;
  color: $black;
  text-align: center;
}

.subtitleMainLp {
  max-width: 480px;
  margin: 0 auto 45px;
  text-align: center;
}



@media (max-width: 1024px) {
  .contentLpIn {
    padding: 0 20px;
  }
}



@media (max-width: 768px) {
  .contentLpIn {
    font-size: 14px;

    .buttonsWrapper {
      .linkButton {
        width: 100%;
        margin: 0 0 18px;
      }
    }
  }

  .titleMainLp {
    padding: 32px 0 24px;
    font-size: 24px;
    line-height: 33px;
  }
}









/*************** menu ***************/
.contentLpMenu {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  z-index: 99;
  height: 70px;
  background-color: transparent;
  transition: none;

  &.is-fixed {
    position: fixed;
    top: 0;
    background: $white;
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
    transition: background-color $transition-normal;

    .menuLpItem__link {
      color: #A1A1A1;
      transition: color $transition-normal, border-color $transition-normal, background-color $transition-normal;

      &.is-active,
      &:hover {
        color: $black;
      }
    }

    .menuLpItem__link--auth {
      color: $black;
      border-color: #D0D0D0;
    }
  }
}

.menuLp {
  padding: 16px 0 0;
  @include clearfix;
}

.menuLpItem {
  display: inline-block;
  padding-top: 7px;
  margin-right: 77px;
  float: left;
}

.menuLpItem--auth {
  float: right;
  margin-right: 0;
  padding-top: 0;
}

.menuLpItem__link {
  font: 14px/24px $circe-regular;
  color: $white;
  transition: none;
}

.menuLpItem__link--auth {
  display: inline-block;
  width: 128px;
  height: 38px;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  font-size: 13px;
  line-height: 38px;
  text-align: center;
}







/*************** header ***************/
.contentLpHeader {
  padding: 163px 0 76px;
  background-color: #4D636E;
}

.contentLpIn__headerIconWrapper {
  margin-bottom: 32px;
  text-align: left;
}

.titleHeaderLp {
  max-width: 480px;
  margin: 0 0 30px;
  font-size: 34px;
  line-height: 47px;
  color: $white;
}

.subtitleHeaderLp {
  max-width: 380px;
  margin: 0 0 46px;
  font: 16px/25px $circe-regular;
  color: $white;
}



.contentLpIn__headerButtonsLp {
  text-align: left;

  .linkButton {
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }
  }
}



@media (max-width: 768px) {
  .contentLpHeader {
    padding-bottom: 41px;
  }

  .titleHeaderLp {
    margin: 0 auto 30px;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
  }

  .subtitleHeaderLp {
    margin: 0 auto 30px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
}







/*************** who sells ***************/
.contentLpWhoSells {
  padding: 0 0 95px;
  background-color: $white-light;

  .titleMainLp {
    padding-bottom: 76px;
  }
}

.sliderSells {
  position: relative;

  .slick-list {
    overflow: visible;
  }

  .icon--sliderLeft,
  .icon--sliderRight {
    position: absolute;
    right: 58px;
    top: -115px;
    width: 46px;
    height: 46px;
    border: 2px solid #80BA27;
    border-radius: 50%;
    cursor: pointer;
  }

  .icon--sliderLeft {
    right: 118px;
  }

  .slick-dots {
    margin: 28px 0 0;
    font-size: 0;
    line-height: 0;
    text-align: center;

    li {
      display: inline-block;

      &.slick-active {
        button {
          background-color: #80BA27;
          cursor: default;
        }
      }
    }

    button {
      display: inline-block;
      margin: 0 3px;
      width: 11px;
      height: 11px;
      background-color: #D8D8D8;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.sliderSellsSlide {
  margin: 0 22px;
  padding: 52px 35px 40px;
  background: $white;
  box-shadow: 15px 15px 25px 0px rgba(0,0,0,0.05);
  border-radius: 10px;
}

.sliderSellsSlide__iconWrapper {
  margin-bottom: 24px;
  height: 60px;
  line-height: 60px;
  text-align: left;
}

.sliderSellsSlide__title {
  margin-bottom: 11px;
  font: 18px/24px $circe-regular;
}

.sliderSellsSlide__info {
  font-size: 14px;
  line-height: 21px;
}



@media (max-width: 1024px) {
  .sliderSells {
    padding-right: 80px;
  }
}



@media (max-width: 768px) {
  .contentLpWhoSells {
    padding: 0 0 27px;

    .titleMainLp {
      padding-bottom: 35px;
    }
  }

  .sliderSells {
    padding-right: 0;
  }
}





/*************** who buys ***************/
.contentLpWhoBuys {
  padding: 0 0 19px;
  border-bottom: 1px solid $light-gray;

  .titleMainLp {
    padding-bottom: 60px;
  }
}

.whoBuysLp {

}

.whoBuysLpCol {
  max-width: 260px;
  margin: 0 auto 45px;
  text-align: center;
}

.whoBuysLpCol__iconWrapper {
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  margin: 0 auto 41px;
  background-color: rgba(117, 227, 95, .2);
}

.whoBuysLpCol__iconWrapper--purple {
  background-color: rgba(229, 32, 129, .2);
}

.whoBuysLpCol__title {
  margin-bottom: 12px;
  font: 18px/25px $circe-bold;
}

.whoBuysLpCol__info {
  line-height: 23px;
}




@media (max-width: 768px) {
  .contentLpWhoBuys {
    padding-bottom: 0;

    .titleMainLp {
      padding-bottom: 35px;
    }
  }

  .whoBuysLpCol {
    max-width: none;
  }

  .whoBuysLpCol__iconWrapper {
    width: 90px;
    height: 90px;
    margin-bottom: 25px;
    line-height: 90px;

    .icon--bottleGreen {
      background-size: 24px 47px;
    }

    .icon--boxPurple {
      background-size: 39px 39px;
    }
  }



  .whoBuysLpCol__title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 25px;
  }
}






/*************** we change the world ***************/
.contentLpChanges {
  padding-bottom: 118px;
  border-bottom: 1px solid $light-gray;
}

.subtitleChangesLp {

}



.changesWrapperLp {
  margin-top: 69px;
  padding: 100px 0;
}

.changesLpCol {
  position: relative;
}

.changesLpCol--bottle {
  .changesLpCol__iconWrapper {
    margin-top: -81px;
    right: -20px;
    width: 162px;
    height: 162px;
    background-image: linear-gradient(90deg, #67E9CB 0%, #62C4AD 100%);
    border-radius: 50%;
    vertical-align: middle;
    line-height: 162px;
    z-index: 1;

    &:before {
      left: -73px;
    }
  }

  .changesInfoWrapperLp {
    float: right;
    margin-right: 195px;
  }
}

.changesLpCol--box {
  .changesLpCol__iconWrapper {
    margin-top: -121px;
    left: -20px;
    width: 242px;
    height: 242px;
    background-image: linear-gradient(90deg, #80EDFF 0%, #81D4E2 100%);
    border-radius: 50%;
    vertical-align: middle;
    line-height: 242px;

    &:before {
      right: -73px;
    }
  }

  .changesInfoWrapperLp {
    margin-left: 270px;
  }
}

.changesInfoWrapperLp {
  display: inline-block;
  max-width: 200px;
  text-align: center;
}

.changesInfoWrapperLp__title {
  margin-bottom: 3px;
  padding-top: 25px;
  font-size: 28px;
  line-height: 38px;
}

.changesInfoWrapperLp__info {

}



.changesLpCol__iconWrapper {
  display: inline-block;
  position: absolute;
  top: 50%;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 55px;
    height: 1px;
    background-color: #D0D0D0;
  }
}



@media (max-width: 1024px) {
  .changesLpCol--bottle {

    .changesLpCol__iconWrapper {
      width: 105px;
      height: 105px;
      margin-top: -53px;
      line-height: 105px;

      .icon--bottleWhite {
        background-size: 21px 41px;
      }
    }
  }

  .changesLpCol--box {

    .changesLpCol__iconWrapper {
      width: 157px;
      height: 157px;
      margin-top: -79px;
      line-height: 157px;
    }
  }
}




/*************** how it works ***************/
.contentLpHow {
  padding-bottom: 200px;
  border-bottom: 1px solid $light-gray;
}

.tabsWrapperLp {

}

.tabsLinksWrapperLp {
  margin: 20px 0 72px;
  text-align: center;
  font-size: 0;
}

.tabsLinkLp {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 225px;
  height: 50px;
  font: 12px/50px $circe-bold-extra;
  color: $black;
  cursor: pointer;
  background: $white-light;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;

  &:last-child {
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.is-active {
    z-index: 2;
    color: $white;
    background: #7BB637;
    box-shadow: 0px 10px 25px 0px #7BB637;

  }
}

.tabsContentWrapperLp {

}

.tabsContentLp {
  display: none;

  &.is-active {
    display: block;
  }
}



// slider
.howSliderLp {

  .slick-list {
    overflow: visible;
  }
}

.howSlideLp {

}

.howSlideLpContentWrapper {
  float: left;
  width: 50%;
  text-align: center;
}

.howSlideLpContent {
  max-width: 330px;
  margin: 0 auto;
  padding-top: 15%;
}

.howSlideLpContent__step {
  margin-bottom: 15px;
  font: 13px/18px $circe-regular;
  color: #B8B8B8;
}

.howSlideLpContent__title {
  margin-bottom: 33px;
  font: 20px/24px $circe-regular;
}

.howSlideLpContent__info {

}

.howSlideLpImgWrapper__img {
  max-width: 795px;
  position: absolute;
  top: 0;
  left: 50%;
}



.howSlideLpContent__buttonsWrapper {
  margin-top: 42px;

  .icon {
    margin: 0 4px;
    width: 46px;
    height: 46px;
    border: 2px solid #80BA27;
    border-radius: 50%;
    cursor: pointer;
  }
}



@media (max-width: 1024px) {
  .contentLpHow {
    padding-bottom: 74px;
  }

  .howSlideLpContentWrapper {
    float: none;
    width: 100%;
  }

  .howSlideLpContent {
    max-width: none;
    padding-top: 0;
  }

  .howSlideLpContent__buttonsWrapper {
    margin: 0;

    .icon {
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 30%;
    }

    .icon--sliderRight {
      left: auto;
      right: 0;
    }
  }



  .howSlideLpImgWrapper__img {
    position: static;
    max-width: 795px;
    width: 80%;
    margin: 10px auto 55px;
  }

  .howSlideLpContent__info {
    max-width: 420px;
    margin: 0 auto;
  }
}







/*************** partners ***************/
.contentLpPartners {
  padding-bottom: 57px;
  border-bottom: 1px solid $light-gray;
}

.partnersColsLp {
  text-align: center;
}

.partnersInfoColLp {
  position: relative;
  margin: 60px 0 27px;
  padding: 0 40px 70px;
}

.partnersInfoColLp__info  {
  max-width: 350px;
  margin: 0 auto;
}

.partnerPerson {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.partnerPerson__name {
  font-family: $circe-regular;
  color: #80BA27;
}

.partnerPerson__place {
  font-size: 14px;
  color: #969696;
}


@media (max-width: 768px) {
  .contentLpPartners {
    padding-bottom: 18px;
  }

  .partnersInfoColLp {
    margin: 10px 0 20px;
    padding: 0 0 80px;
  }

  .partnersInfoColLp__info {
    line-height: 24px;
  }

  .partnerPerson__name {
    font-size: 16px;
  }
}



// partner logos
.contentLpPartnersLogos {

}

.logosWrapperPartnersLp {

}

.logosWrapperPartnersLp__col {
  height: 140px;
  line-height: 140px;
  border-left: 1px solid $light-gray;

  &:last-child {
    border-right: 1px solid $light-gray;
  }

  .iconWrapper__logo {
    max-width: 70%;
  }
}



@media (max-width: 1024px) {
  .contentLpPartnersLogos {
    .contentLpIn {
      padding: 0;
    }
  }

  .logosWrapperPartnersLp__col {
    flex-basis: 25%;

    &:last-child {
      border-right: 0;
    }
  }
}



@media (max-width: 768px) {
  .logosWrapperPartnersLp__col {
    flex-basis: 50%;
    border-bottom: 1px solid $light-gray;

    &:nth-child(2n+1) {
      border-left: 0;
    }
  }
}



/*************** request ***************/
.contentLpRequest {
  padding: 68px 0 100px;
  background-color: $white-light;
  text-align: center;
}

.contentLpIn__requestButtonsLp {

  .linkButton {
    margin: 0 10px;
  }
}



@media (max-width: 768px) {
  .contentLpRequest {
    position: relative;
    margin-top: -1px;
    padding-top: 0;

    .subtitleMainLp {
      margin: 5px auto 39px;
    }
  }
}










/*************** footer ***************/
.footerLp {
  height: 80px;
  padding: 20px 0;
  background-color: $white-light;
  text-align: center;
}

.footerLpIn {
  position: relative;
  padding-top: 7px;
}

.footerLpIn__iconWrapper {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 40px;
}

.footerLpIn__link {
  display: inline-block;
  margin: 0 36px;
  font-size: 13px;
  color: #7D7D7D;
}

.footerLpIn__linkAuth {
  position: absolute;
  top: 0;
  right: 40px;
  display: inline-block;
  width: 128px;
  height: 38px;
  border: 1px solid #DFDFDF;
  border-radius: 100px;
  font: 13px/38px $circe-regular;
  color: $black;
  text-align: center;
}
