/*************** common ***************/
.contentLp {

}

.contentLpIn {
  position: relative;
  max-width: 1230px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.titleMainLp {
  font-size: 32px;
  line-height: 38px;
  font-family: $circe-light;
  color: $black;
  text-align: center;
}



@media (max-width: 767px) {
  .contentLpIn {
    padding: 0 20px;
  }
}









/*************** menu ***************/
.contentLpMenu {

}

.menuLp {

}

.menuLpItem {

}

.menuLpItem--auth {

}

.menuLpItem__link {

}







/*************** header ***************/
.contentLpHeader {

}

.titleHeaderLp {

}

.subtitleHeaderLp {

}



.contentLpIn__headerButtonsLp {

}











/*************** who sells ***************/
.contentLpWhoSells {

}

.sliderSells {

}

.sliderSellsSlide {

}

.sliderSellsSlide__iconWrapper {

}

.sliderSellsSlide__title {

}

.sliderSellsSlide__info {

}








/*************** who buys ***************/
.contentLpWhoBuys {

}

.whoBuysLp {

}

.whoBuysLpCol {

}

.whoBuysLpCol__iconWrapper {

}

.whoBuysLpCol__title {

}

.whoBuysLpCol__info {

}











/*************** we change the world ***************/
.contentLpChanges {

}

.subtitleChangesLp {

}



.changesWrapperLp {

}














/*************** how it works ***************/
.contentLpHow {

}

.tabsWrapperLp {

}

.tabsLinksWrapperLp {

}

.tabsLinkLp {

}

.tabsContentWrapperLp {

}

.tabsContentLp {

}



// slider
.howSliderLp {

}

.howSlideLp {

}

.howSlideLpContent {

}

.howSlideLpContent__step {

}

.howSlideLpContent__title {

}

.howSlideLpContent__info {

}

.howSlideLp__img {

}














/*************** partners ***************/
.contentLpPartners {

}

.partnersColsLp {

}

.partnersAboutColLp {

}

.partnersInfoColLp {

}

.partnersInfoColLp__name {

}

.partnersInfoColLp__place {

}





.contentLpPartnersLogos {

}

.logosWrapperPartnersLp {

}

.logosWrapperPartnersLp__col {

}







/*************** request ***************/
.contentLpRequest {

}

.subtitleRequestLp {

}


.contentLpIn__requestButtonsLp {

}














/*************** footer ***************/
.footerLp {

}

.footerLpIn {

}

.footerLpIn__iconWrapper {

}

.footerLpIn__link {

}

.footerLpIn__linkAuth {
  
}
