.profileWrapper {
  margin: 0 0 95px;
  padding: 0 0 60px;
  background-color: $white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  border-radius: 10px;

  .menu {
    padding: 0 15px;
    text-align: left;
    border-bottom: 1px solid #EBEBEB;
  }

  .menuItemLink {
    margin: 0 30px;
  }
}



// content
.profileContent {
  .formContent {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .formContent__sep {
    margin-left: -210px;
    margin-right: -210px;
  }

  .formBlock__linkButton {
    margin-top: 25px;
    margin-bottom: 5px;
  }

  .addStorehouse {
    margin-bottom: 15px;
  }
}



@media (max-width: 768px) {
  .profileWrapper {
    margin: 0 -20px;
    padding: 0 20px 20px;

    .menu {
      position: relative;
      height: 60px;
      margin: 0 -20px;
      padding: 0;
      background-color: #899CA8;
      overflow: hidden;
      transition: height .5s ease-in-out;

      &:after {
        content: '';
        position: absolute;
        top: 27px;
        right: 20px;
        border: 6px solid transparent;
        border-top: 6px solid $white;
        transform: rotate(0deg);
        transition: transform $transition-normal, top $transition-normal;
      }

      &.is-active {
        height: 180px;

        &:after {
          top: 21px;
          transform: rotate(180deg);
        }
      }
    }

    .menuItem {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      height: 60px;
      transition: top $transition-normal;

      &:nth-child(2) {
        top: 60px;
      }

      &:nth-child(3) {
        top: 120px;
      }
    }

    .menuItemLink {
      display: block;
      margin: 0;
      padding: 0 20px;
      color: $white;
      line-height: 60px;
      border-bottom: 1px solid #ADBCC6;
      background-color: #899CA8;
    }
  }



  // content
  .profileContent {
    .formContent {
      padding: 0;
    }

    .formBlock__linkButton {
      margin-top: 5px;
    }
  }
}
