html.docForms,
body {
  height: 100%;
}



.sectionForms {
  display: table;
  padding-top: 98px;
  width: 100%;
  height: 100%;
  background-color: $gray;
  text-align: center;

  .titleMain__info {
    color: #A6C0D1;
  }

  .subtitleMain {
    max-width: 340px;
  }
}

.sectionForms__contentIn {
  display: table-cell;
  vertical-align: middle;
}



@media (max-width: 768px) {
  .sectionForms {
    padding-top: 70px;
  }

  .sectionForms__contentIn {
    padding: 0;
  }
}



// storehouse add
.addStorehouse {
  margin: 35px 0 -12px;
  padding: 22px 15px 19px;
  text-align: center;
  border: 1px dashed #D5D5D5;
  border-radius: 10px;
  cursor: pointer;

  .storehouse + & {
    margin-top: 16px;
  }
}

.addStorehouse__info {
  position: relative;
  display: inline-block;
  padding-left: 35px;
  font-size: 20px;
  line-height: 27px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    @include icon(add_green, 20px, 20px);
  }
}



// storehouse edit
.storehouse {
  position: relative;
  margin: 16px 0;
  padding: 15px 0 12px;
  border: 1px solid #ECECEC;
  border-radius: 10px;
  @include clearfix();

  &:before {
    content: '';
    display: inline-block;
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 74px;
    background-color: #ECECEC;
  }
}

.storehouseCounter {
  width: 74px;
  padding: 0 10px;
  float: left;
  text-align: center;
}

.storehouseCounter__number {
  font-size: 20px;
  line-height: 22px;
}

.storehouseCounter__text {
  font: 14px/22px $circe-regular;
  color: $gray;
}

.storehouse__edit {
  position: absolute;
  right: 62px;
  top: 14px;
  width: 41px;
  height: 41px;
  background-color: $green;
  cursor: pointer;
  border-radius: 50%;
}

.storehouse__delete {
  position: absolute;
  right: 12px;
  top: 14px;
  width: 41px;
  height: 41px;
  background-color: #D96A6A;
  cursor: pointer;
  border-radius: 50%;
}


.storehouse__info {
  margin: 0 115px 0 99px;
  font: 14px/21px $circe-regular;
  color: $gray;
}



@media (max-width: 768px) {
  .storehouse {
    padding-top: 10px;

    &:before {
      display: none;
    }
  }

  .storehouseCounter {
    width: 100%;
    float: none;
    padding: 0 75px 10px 15px;
    text-align: left;
  }

  .storehouseCounter__number {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
  }

  .storehouseCounter__text {
    display: inline-block;
    vertical-align: middle;
  }

  .storehouse__info {
    margin: 0;
    padding: 12px 15px 0;
    border-top: 1px solid #ECECEC;
  }

  .storehouse__edit {
    background-color: transparent;
    @include icon(pensil_green, 15px, 15px);
    width: 20px;
    height: 20px;
    top: 11px;
    right: 41px;
  }

  .storehouse__delete {
    background-color: transparent;
    @include icon(basket_red, 11px, 14px);
    width: 20px;
    height: 20px;
    top: 11px;
    right: 11px;
  }
}
